*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #4C4036;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


div{
    width: 100px;
    height: 172px;
    margin: 0 auto;
    margin-top: 200px;
    background-image: url(./img/logo-front.png);
}


div img:hover{
    opacity: 0;
    transition:.5s ease all ;
}


